@using Dikatita.App.Extensions
@using Dikatita.App.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Dikatita.App.ViewModels.PedidoViewModel>

<table id="table-pedidos" class="table table-hover" style="width:100%">
    <thead class="thead-dark">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            CPF
        </th>
        <th>
            Telefone
        </th>
        <th>
            Data de Cadastro
        </th>
        <th>
            Status
        </th>
        <th class="nosort">Ações</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CpfCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelefoneCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @item.Status.GetDisplayName()
            </td>
            <td class="text-right">
                <a class="btn btn-info btn-sm" data-toggle="tooltip" data-placement="top" title="Detalhes"
                   asp-controller="Pedido" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a>
                <a class="btn btn-warning btn-sm" data-toggle="tooltip" data-placement="top" title="Editar"
                   asp-controller="Pedido" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
            </td>
        </tr>
    }
    </tbody>
</table>